<div class="right_area">


    <h2 class="right_area_title">Call us<span class="yellow"> today</span></h2>
    <div class="textwidget">
        <div class="rightMenuBottom">
            <div class="telephone">{{ site.phone }}</div>
            {% if site.eamil_con.info %}
              <div class="rightEmail"><a href="mailto:{{site.eamil_con.info}}">{{site.eamil_con.info}}</a></div>
            {% endif %}
            {% if site.eamil_con.sales %}
              <div class="rightEmail"><a href="mailto:{{site.eamil_con.sales}}">{{site.eamil_con.sales}}</a>
                <p>(for quotes and free consultations)</p></div>
            {% endif %}

            {% if site.eamil_con.support %}
            <div class="rightEmail">
                <a href="mailto:{{site.email.support}}">{{site.eamil_con.support}}</a>
                <p>(for queries and general support)</p>
            </div>
            {% endif %}
        </div>
    </div>

</div>

