---
layout: compress
---
<!doctype html>
<html>
<head>
  {% include head.html %}

<link rel='stylesheet' href=" {{ 'assets/css/pagenavi-css.css' | relative_url }}" type='text/css' media='all' />
</head>
<body class="page-template-default page page-id-16 no-avatars">
{% include header.html %}
<!--start Inner Middle section-->


{{ content }}

<!--Start testimonials section-->
<div class="testimonials fullwidth">
  <div class="wrapper">
    <h1>happy <span class="cyan">customers</span></h1>
    <!--                <div class="testimonialsLeft">
                    <img src="{{ 'assets/images/testimonial_img.jpg' | relative_url }}">
                  </div>-->

    <!--                <blockquote class="testimonialsRight">-->

    <!--                    <i class="fa fa-quote-left quote-left"></i><p> Connect2Ozweb did a very beautiful and professional gallery update for me on my website in short span.Very impressive and mind blowing service.<i class="fa fa-quote-right quote-right"></i></p>
                        <div class="name">Gad Peretz</div>
                        <div class="profile">MD, ygconstruction</div>-->
    <div class="testimonials-widget-testimonials testimonials-widget-testimonials100000">
      <div
        class="testimonials-widget-testimonial post-72 testimonials-widget type-testimonials-widget status-publish has-post-thumbnail"
        style="">
        <!-- testimonials-widget-testimonials:72: -->
        <span class="image"><img width="120" height="120" src="{{ 'assets/images/testimonial_img.jpg' | relative_url }}"
                                 class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/></span>
        <blockquote><span class="open-quote"></span>Connect2Ozweb did a very beautiful and professional gallery update
          for me on my website in short span.Very impressive and mind blowing service.<span class="close-quote"></span>
        </blockquote>
        <div class="credit"><span class="author">Gad Peretz</span><span class="join-title"></span><span
          class="job-title">MD</span><span class="join-location"></span><span class="location">ygconstruction</span>
        </div>
      </div>
      <div
        class="testimonials-widget-testimonial post-73 testimonials-widget type-testimonials-widget status-publish has-post-thumbnail"
        style="display: none;">
        <!-- testimonials-widget-testimonials:73: -->
        <span class="image"><img width="41" height="40" src="/assets/images/Content_Icon.png"
                                 class="attachment-thumbnail size-thumbnail wp-post-image" alt=""/></span>
        <blockquote><span class="open-quote"></span>C2W is truly a rare find. Extremely reliable .Excellent
          communication, knowledgeable &#038; very professional. Very patient .A+<span class="close-quote"></span>
        </blockquote>
        <div class="credit"><span class="author">ServiceFaraz</span><span class="join-title"></span><span
          class="job-title">Director</span><span class="join-location"></span><span class="location">Sapexplore</span>
        </div>
      </div>
    </div>

    <!--                </blockquote>-->

    <div class="clear"></div>
  </div>
</div><!--End testimonials section-->
<div class="wrapper">
  <!--Start Blog section-->
  <div class="blogSection">
    <h1>Latest <span class="yellow">Blog</span></h1>
    <style>


      .chpcs_foo_content img {

        max-width: 960;
      }

      .chpcs_image_carousel .chpcs_prev, .chpcs_image_carousel .chpcs_next {

        background: rgba(195, 195, 195, 0.01);

        color: rgb(0, 0, 0);

        font-size: 32px;

        line-height: 39px;

        width: 42px;

        height: 42px;

        margin-top: -32px;

      }

      .chpcs_image_carousel.chpcs_prev:hover, .chpcs_image_carousel .chpcs_next:hover {

        color: rgba(248, 175, 2, 0.98);

      }

      #wa_chpcs_pager a {

        background: rgba(248, 175, 2, 0.98);

      }

    </style>

    <div class="chpcs_image_carousel">
      <div id="wa_chpc_slider" style="height:350px; overflow: hidden;">
        <div class="chpcs_foo_content" style="width:960px; height:350px;"><h3>
          <a class="blog_title" href="/seo-vs-sem/">SEO vs SEM</a></h3>
          <div class="blogBottom">
            <div class="calender"><i class="fa fa-calendar"></i><span> March </span><span class="yellow">12</span><span>, </span><span
              class="yellow">2015 </span></div>
            <div class="admin"><i class="fa fa-user"></i><span class="yellow">Sameen</span></div>
          </div>
          <p>SEO- Search Engine Optimization. Heard of the word SEO quite often? Know the full form, yet can’t really
            figure much beyond that. Well, this article is all that you need to understand SEO in simple,&hellip;</p>
          <div class="readMore"><a href="/seo-vs-sem/">Read more</a></div>
        </div>
        <div class="chpcs_foo_content" style="width:960px; height:350px;"><h3>
          <a class="blog_title" href="/digital-strategy/">Digital
          Strategy</a></h3>
          <div class="blogBottom">
            <div class="calender"><i class="fa fa-calendar"></i><span> March </span><span class="yellow">12</span><span>, </span><span
              class="yellow">2015 </span></div>
            <div class="admin"><i class="fa fa-user"></i><span class="yellow">Sameen</span></div>
          </div>
          <p>Gone are the days when there was one big ‘sweet shop’ in the town with a pot belly uncle sitting behind the
            counter. All, the uncle had in mind was that he had to open&hellip;</p>
          <div class="readMore"><a href="/digital-strategy/">Read more</a></div>
        </div>
        <div class="chpcs_foo_content" style="width:960px; height:350px;"><h3>
          <a class="blog_title" href="/best-web-design-in-melbourne/">Best
          web Design In Melbourne</a></h3>
          <div class="blogBottom">
            <div class="calender"><i class="fa fa-calendar"></i><span> March </span><span class="yellow">12</span><span>, </span><span
              class="yellow">2015 </span></div>
            <div class="admin"><i class="fa fa-user"></i><span class="yellow">admin</span></div>
          </div>
          <p>Discover the company that offers the best web design in Melbourne. Lavish apartment, expensive car,
            designer clothes- what is their true worth? Nothing, if the people around us don’t take note of it. We may&hellip;</p>
          <div class="readMore"><a href="/best-web-design-in-melbourne/">Read more</a>
          </div>
        </div>
        <div class="chpcs_foo_content" style="width:960px; height:350px;"><h3>
          <a class="blog_title" href="/responsive-site-and-viewport-tag/">Responsive
          Site and Viewport Tag</a></h3>
          <div class="blogBottom">
            <div class="calender"><i class="fa fa-calendar"></i><span> March </span><span class="yellow">12</span><span>, </span><span
              class="yellow">2015 </span></div>
            <div class="admin"><i class="fa fa-user"></i><span class="yellow">admin</span></div>
          </div>
          <p>The purpose of this blog entry is not to write a tutorial but to give an understanding of what responsive
            Website is and what technology use can make your website responsive. In layman’s term you&hellip;</p>
          <div class="readMore"><a href="/responsive-site-and-viewport-tag/">Read
            more</a></div>
        </div>
      </div>
      <div class="chpcs_clearfix"></div>
      <div class="chpcs_pagination" id="wa_chpcs_pager"></div>
    </div>
    <!--            <h3>Responsive Site and Viewport Tag</h3>
                <div class="blogBottom"><div class="calender"><i class="fa fa-calendar"></i>March 15, 2015</div><div class="admin"><i class="fa fa-user"></i>
    admin</div></div>
                <p>The purpose of this blog entry is not to write a tutorial but to give an understanding of what responsive Website is and what technology use can make your website responsive. In layman's term you can say it's a website which would work on all mobile devices ...</p>
                <div><a class="readMore" href="">Read More</a></div>-->
  </div>
  <div class="clear"></div>
</div> <!--End Blog section-->

<!--script for Tabber-->
<script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery(".tabs-menu a").click(function (event) {
      event.preventDefault();
      jQuery(this).parent().addClass("current");
      jQuery(this).parent().siblings().removeClass("current");
      var tab = jQuery(this).attr("href");
      jQuery(".tab-content").not(tab).css("display", "none");
      jQuery(tab).fadeIn();
    });

    jQuery('.img-link-initial').delay(100).queue(function () {
      jQuery(this).css({"display": "block"});

    });


    jQuery(function () {
      jQuery('a[href*=#]:not([href=#])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : jQuery('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            jQuery('html,body').animate({
              scrollTop: target.offset().top
            }, 500, 'swing');
            return false;
          }
        }
      });
    });

    var i = 0;

    jQuery('.afp-single-item').find('.mask').each(function () {
      var href = jQuery(this).find("a:nth-child(1)").attr('href');
      jQuery(this).find("a").addClass('hidnext');
      if (href == '') {
        jQuery(this).find('.link').css("display", "none");
        jQuery(this).find('.mask_link').replaceWith(function () {
          return jQuery("<span class='mask_link'>" + jQuery(this).html() + "</span>");
        });
      }
    });


  });
</script>
<script>
  jQuery(function () {
    var pull = jQuery('#pull');
    menu = jQuery('nav ul');
    menuHeight = menu.height();

    jQuery(pull).on('click', function (e) {
      e.preventDefault();
      menu.slideToggle(10, "linear");
      //submenu.slideToggle();
      //menu.slideDown();
    });


    jQuery('.menu ul li:nth-child(2) ul.sub-menu li a, .menu ul li:nth-child(2) a').click(function () {
      window.setTimeout(function () {
        menu.slideToggle()
      }, 100);
    });

    jQuery(window).resize(function () {
      var w = jQuery(window).width();
      if (w > 320 && menu.is(':hidden')) {
        menu.removeAttr('style');
      }
    });
  });
</script>


<!-- Custom Facebook Feed JS -->
<script type="text/javascript">
  var cfflinkhashtags = "false";
</script>

<script type='text/javascript'>
  dur = 600;
  afp_easing = 'easeInOutQuad';
  startFX = 'normal';
  hoverFX = 'normal';
</script>
<link rel='stylesheet' href='/assets/css/afp-style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='/assets/css/colorbox.css' type='text/css' media='all'/>
<link rel='stylesheet' href='/assets/css/adipoli.css' type='text/css' media='all'/>
<script type='text/javascript' src="{{ 'assets/js/cff-scripts.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/jquery.form.min.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/jquery.validate.min.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/jquery.jvcf7_validation.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/functions.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/wp-embed.min.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/jquery-easing.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/quicksand.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/jquery.colorbox-min.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/afp-functions.js' | relative_url }}"></script>
<script type='text/javascript' src="{{ 'assets/js/jquery.bxslider.min.js' | relative_url }}"></script>
<script type="text/javascript">
  var tw_100000 = null;

  jQuery(document).ready(function () {
    tw_100000 = jQuery('.testimonials-widget-testimonials100000').bxSlider({
      adaptiveHeight: true,
      auto: true,
      autoControls: true,
      autoHover: true,
      controls: false,
      mode: 'fade',
      pager: false,
      pause: 5000,
      video: false,
      slideMargin: 2,
      slideWidth: 0
    });
  });
</script>
</body>
</html>